Data_goc/
trash/
.venv/
__pycache__/
*.pyc
*.pyo
*.json
# Virtual environment
env/
.idea/

*.egg
*.egg-info
dist/
build/
screen/student_view/__pycache__/*.pyc

assets/datasets
assets/experimental
assets/face_recognition_sys.sql